
{extend name="base" /}

{block name="header"}
<style>#draggable { width: 150px; height: 150px; padding: 0.5em; }</style>
{/block}
{block name="main"}

<DIV>
    <?php var_dump($names);?>-----------\n
    {$aaaaa}
    恭喜你！！访问到了Copy自定义模板。
</DIV>
<div>
    <form name="tests">
      <input type="text" name="request_test" value="Hello Word!">
      <input type="hidden" name="_method" value="PUT" >
      <input type="button" onclick="subs()" value="提交">
    </form>
    <!-- 测试：请求类型伪装 有疑问查看uest/<id>的路由注释 -->
    <form name="test2" method="post" action="/uest/678.html">
        <input type="text" name="request_test" value="Hi Word!">
        <input type="hidden" name="_method" value="put" >
        <input type="submit" value="表单提交">
      </form>
</div>
<div id="draggable" class="ui-widget-content">
    <p>Drag me around</p>
</div>
<script>
    // 测试：ajax提交
    subs = function(){
        var request_test = $("input[name='request_test']").val()
        $.ajax({
            url:'/uest/678.html',
            data:{'aaaaaa':111, 'bbbbbb':222, 'request_test':request_test},
            type:"post",
            error:function(request){
                alert("网络连接失败！");
            },
            success:function(data){
                alert(data);
            }
        })
    }

    // 拖动特效：draggable
    $( function() {
        $( "#draggable" ).draggable();
    } );
</script>
{/block}





